.homepage-container {
    padding: 20px;
    height: calc(100vh - 200px); /* Adjust the height based on your layout */
    overflow-y: auto; /* Add vertical scroll bar if content overflows */
}

.heading {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #010388;
}

.title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    /* text-align:center; */
}

.subtitle {
    margin-top: 20px;
    font-size: 30px;
}

.event-card {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 800px;
    height: auto;
}

.event-name {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.event-description {
    /*white-space: pre-wrap; /* Allow description to wrap to multiple lines */
    margin-bottom: 10px;
}

.event-date-time {
    margin-top: 5px;
    font-weight:550;
    color: darkgreen;
}

